* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  accent-color: #157af5;
  background-color: #040f2d;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
}

h1 {
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 1em;
}

legend {
  color: #3a476a;
}

output {
  font-family: 'Fira Code', monospace;
  font-size: 1.75rem;
  background-color: #091642;
  padding: 0.5em 1em;
  text-align: center;
  display: block;
}

svg {
  fill: currentColor;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.app {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
  min-height: 100vh;
  padding: 5vmin;
}

.grid {
  margin: auto;
  max-width: 680px;
  width: 90%;
}

.button {
  background-image: -o-radial-gradient(bottom, ellipse, #157af5, #3b52ec);
  background-image: radial-gradient(ellipse at bottom, #157af5, #3b52ec);
  padding: 0.5em;
  min-width: 64px;
}

.button--large {
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0.75em 2em;
  letter-spacing: 0.0625em;
}

.button--rounded {
  border-radius: 0.5em;
}

.button:focus,
.button:hover {
  background-image: -o-radial-gradient(bottom, ellipse, #3b52ec, #157af5);
  background-image: radial-gradient(ellipse at bottom, #3b52ec, #157af5);
}

.output {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 2em;
  border-radius: 0.5em;
  overflow: hidden;
}

.form {
  display: grid;
  grid-gap: 2em;
  gap: 2em;
}

.form__legend {
  margin-bottom: 0.5em;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0.5em;
  gap: 0.5em;
}

.form__field {
  background-color: #091642;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
  gap: 1em;
}

.form__input--range {
  width: 100%;
}